
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom:-4rem;
}

.top-left {
    font-family: 'Varela Round', sans-serif;
}

.library-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    color: #5e0909;
    position: relative;
}

.library-link:hover {
    background-color: #555;
    border-radius: 5px;
}

.homepage-library-img {
    margin-right: 5px;
    width: 8vw;
}
.homepage-button-label {
    font-family: "Madimi One"; /* Use the same font as the menu */
}

.disabled {
    opacity: 0.5; /* Adjust the opacity for reduced brightness */
    pointer-events: none; /* Disable pointer events */
}

.disabled span {
    /* Adjust label color when disabled */
}

.library-link.disabled:hover {
    background-color: #555;
    font-family: "Madimi One";
}

.top-right {
    font-family: "Madimi One";
    text-align: right;
}

.welcome-note {
    margin-bottom: 5px; /* Add some spacing between the welcome message and username */
}

.username {
    font-weight: bold; /* Optionally, make the username bold */
}
.login-button {
    font-family: "Madimi One";
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
}

.logout-button {
    font-family: "Madimi One";
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #db344d;
    color: #fff;
    text-decoration: none;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-family: 'Lobster', cursive;
    font-size: 6rem;
    margin-bottom: 5px;
}

.header h2 {
    font-family: 'Varela Round', sans-serif;
    font-size: 6rem;
    margin-top: 0;
}

.header p {
    font-family: 'Madimi One', cursive;
    font-size: 2rem;
    margin-top: 5px;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 25vw;
    height: auto;
}

.big-button {
    font-family: 'Varela Round', sans-serif;
    display: inline-block;
    background-color: #003e65;
    color: #fff;
    padding: 2rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 5px;
}

.big-button:hover {
    background-color: #2980b9;
}

